body {
  height: 100vh;
  padding-top: 100px;
  background-image: -webkit-linear-gradient(130deg, #F74287 5%, #4889FD 90%);
  background-image: linear-gradient(130deg, #F74287 5%, #4889FD 90%);
}
/*1FC4B1 1DABDD*/
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#player {

  margin-left: 250px;
}
#player-controls{

  margin-left:250px;
}
#fullscreenToggle{
  border: none;
}

   .register-wrapper * {
     box-sizing: border-box;
   }
   .register-wrapper form input {
     display: inline-block;
     width: 80%;
     padding: 0 20px;
     line-height: 50px;
     height: 50px;
     background-color: white;
     border: 1px solid #e6e6e6;
     border-bottom-width: 3px;
     border-radius: 5px;
     outline: 0;
     -webkit-transition: all 0.3s ease;
     transition: all 0.3s ease;
   }
   .register-wrapper form input:not(:last-child) {
     margin-bottom: 20px;

   }
   .register-wrapper form input[type="text"]:focus, .register-wrapper form input[type="text"]:active {
     border-color: #cccccc;
   }
   .register-wrapper form input[type="submit"] {
     position: relative;
     z-index: 1;
     display: inline-block;
     padding: 0 20px;
     font-size: 1.5rem;
     background-color: #F74287;
     background-size: 100%;
     font-weight: 600;
     color: white;
     outline: none;
     cursor: pointer;
   }
   .register-title {
     font-size: 1.5em;
     padding-bottom: 20px;
     margin: 0 0 20px;
     border-bottom: 1px dashed #e6e6e6;
   }



   #create{
     position: absolute;
     display: inline-block;
     left: 0%;
     width: 50%;
     top: 0%;
     max-width: 200px;
     background-color: rgb(248, 246, 246);
     padding: 10px 20px;
     font-size: 1.5rem;
     border-style: none;
     color: black;
     border-radius: 5px 0px 0px 0px;
   }
    #join{
      position: absolute;
      display: inline-block;
      left: 50%;
      width: 50%;
      top: 0%;
      max-width: 200px;
      background-color: white;
      padding: 10px 20px;
      font-size: 1.5rem;
      border-style: none;
      color: black;
      border-radius: 0px 5px 0px 0px;
   }


   .register-block {
     position: relative;
     display: block;
     width: 100%;
     max-width: 400px;
     margin: auto;
     padding: 30px;
     background-color: white;
     box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
     border-radius: 5px;
   }
   .register-block:before, .register-block:after {
     position: absolute;
     z-index: -1;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     display: block;
     width: 100%;
     height: 100%;
     content: "";
     background-color: white;
     border: 1px solid #e6e6e6;
     border-radius: 5px;
     -webkit-transform: scale(0.9) translate(0, 0);
             transform: scale(0.9) translate(0, 0);
     -webkit-transition: all 0.3s ease;
     transition: all 0.3s ease;
   }
   .register-block:hover:before {
     z-index: -1;
     -webkit-transform: scale(0.96) translate(0, 16px);
             transform: scale(0.96) translate(0, 16px);
   }
   .register-block:hover:after {
     z-index: -2;
     -webkit-transform: scale(0.92) translate(0, 32px);
             transform: scale(0.92) translate(0, 32px);
   }
